[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
gcode:
  {% set EXTRUDER_TEMP = params.EXTRUDER|float %}
  ## Clean_nozzle
  SET_GCODE_OFFSET Z_ADJUST={params.Z_ADJUST|default(0.0)|float} MOVE=1
    G92 E0 ; Reset Extruder
    G32
    BED_MESH_PROFILE LOAD="default"
    SKEW_PROFILE LOAD="CaliFlower"
    M109 S{EXTRUDER_TEMP}       ; set and wait for hot end to reach temp
    Clean_nozzle
    G1 X2 Y50 Z0.2 F5000.0 ; Move to start position
    G1 X2 Y300.0 Z0.2 F2000.0 E15 ; Draw the first line
    G1 X4 Y300.0 Z0.2 F2000.0 ; Move to side a little
    G1 X4 Y50 Z0.2 F2000.0 E30 ; Draw the second line
    G92 E0 ; Reset Extruder
