[mcu birdsnest]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_39005A0013504D5930313920-if00

[temperature_sensor Bauraum]
sensor_type: ATC Semitec 104GT-2
sensor_pin: birdsnest:PA6
pullup_resistor: 4700

#[temperature_sensor MCU_Birdsnest]
#sensor_type: temperature_mcu
#sensor_mcu: birdsnest
#min_temp: 0
#max_temp: 100

[temperature_fan Birdsnest_FANs]
pin: PA2
#max_power:
#shutdown_speed:
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below: 0.3
sensor_type: temperature_mcu
sensor_mcu: birdsnest
control: pid
#max_delta:
min_temp: 10
max_temp: 60
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
target_temp: 35.0
max_speed: 1.0
min_speed: 0.3
#   The minimum fan speed (expressed as a value from 0.0 to 1.0) that
#   the fan will be set to for PID temperature fans.
#   The default is 0.3.
#gcode_id:
#   If set, the temperature will be reported in M105 queries using the
#   given id. The default is to not report the temperature via M105.
