[heater_generic chamber]
heater_pin: PF6 # HE0
max_power: 1.0
sensor_type: PT1000
sensor_pin: PC5
pullup_resistor: 4700
control = pid
pid_kp = 11.545
pid_ki = 0.351
pid_kd = 94.813
min_temp: 0
max_temp: 160
gcode_id: C

#[verify_heater chamber]
#max_error: 300
#check_gain_time: 480
#hysteresis: 5
#heating_gain: 1

[multi_pin chamber_heater_fans]
pins: PA3, PA4

[heater_fan heater_chamber]
pin: multi_pin:chamber_heater_fans
heater: chamber
heater_temp: 30.0
