[quad_gantry_level]

gantry_corners:
   -60,-10
   410,420
#  Probe points
points:
   60,60
   60,290
   290,290
   290,60

#--------------------------------------------------------------------
speed: 100
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.05
max_adjust: 10