[mcu tool0]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_440057000950415742363820-if00

#On drive E0
[extruder]
step_pin: tool0:PB9
dir_pin: tool0:PB8
enable_pin: !tool0:PB7
#step_distance: .0013
full_steps_per_rotation: 200
#gear_ratio: 50:17
rotation_distance: 4.637
microsteps: 16
nozzle_diameter: 0.400
filament_diameter: 1.750
pressure_advance: 0.14
heater_pin: tool0:PA7
pullup_resistor: 2200
sensor_type: PT1000
sensor_pin: tool0:PA6
#control: pid
#pid_Kp: 18.508654
#pid_Ki: 1.019761
#pid_Kd: 83.983019
min_temp: 0
max_temp: 300
max_extrude_cross_section: 4
max_extrude_only_distance: 250

[tmc2209 extruder]
uart_pin: tool0:PC14
interpolate: true
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0
#diag_pin: tool0:PC15

[bltouch]
sensor_pin: ^tool0:PA10
control_pin: tool0:PB1
# higher value = closer to bed
z_offset: 3.800
x_offset: 2.5
y_offset: 30
samples: 3
samples_result: median
samples_tolerance: 0.100
samples_tolerance_retries: 3
stow_on_each_sample: false

[adxl345]
cs_pin: tool0:PB12
spi_software_sclk_pin: tool0:PB10
spi_software_mosi_pin: tool0:PB11
spi_software_miso_pin: tool0:PB2
axes_map: -z, -y, x

[resonance_tester]
accel_chip: adxl345
probe_points:
    150,150,30 # an example

[heater_fan Tool_0_Hotend]
pin: tool0:PB15 # FAN1
max_power:1.0
shutdown_speed:0.0
cycle_time:0.01
hardware_pwm:false
kick_start_time:0.10
tachometer_pin: tool0:PB14
# Please make sure the feedback level does not exceed 5V!
#tachometer_ppr:
#tachometer_poll_interval:
heater: extruder
heater_temp: 50.0
#fan_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when its associated heater is enabled. The default
#   is 1.0

[multi_pin part_cooling_fans]
pins: tool0:PB13, tool0:PA5 #fan 2 and fan 3

[fan]
pin: multi_pin:part_cooling_fans
max_power:1.0
shutdown_speed:0.0
cycle_time:0.01
hardware_pwm:false
kick_start_time:0.10
#tachometer_pin: tool0:PB14
# Please make sure the feedback level does not exceed 5V!
#tachometer_ppr:
#tachometer_poll_interval:

#####################################################################
#	Mcu & Driver Temperature
#####################################################################

[temperature_sensor tool_0_MCU]
sensor_type: temperature_mcu
sensor_mcu: tool0
min_temp: 0
max_temp: 150

[temperature_sensor Tool_0_TMC]
sensor_type: Generic 3950
sensor_pin: tool0: PA3
min_temp:0
max_temp:150

#####################################################################
#	Voltage Monitor
#####################################################################

[adc_temperature Tool_0_5V_Monitor]
temperature1: 5
voltage1: 3.0
temperature2: 4
voltage2: 2.4
temperature3: 3
voltage3: 1.8

[adc_temperature Tool_0_24V_Monitor]
temperature1: 24
voltage1: 3.13
temperature2: 22
voltage2: 2.87
temperature3: 21
voltage3: 2.74

[temperature_sensor Tool_0_5V_Monitor]
sensor_type: Tool_0_5V_Monitor
sensor_pin: tool0:PA0   #5V_MON
adc_voltage: 3.3
voltage_offset: 0

[temperature_sensor Tool_0_24V_Monitor]
sensor_type: Tool_0_24V_Monitor
sensor_pin: tool0:PA4   #24V_MON
adc_voltage: 3.3
voltage_offset: 0

[neopixel tool0_LED]
pin: tool0: PA8 #IO2
chain_count: 1
color_order: GRB
initial_RED: 0.5
initial_GREEN: 0.5
initial_BLUE: 0.5
