#On drive E0
[extruder]
step_pin: PD4
dir_pin: PD9
enable_pin: !PC6
#step_distance: .0013
full_steps_per_rotation: 400
#gear_ratio: 50:17
rotation_distance: 8.32
microsteps: 64
nozzle_diameter: 0.400
filament_diameter: 1.750
pressure_advance: 0.14
heater_pin: !PA20
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC15
#control: pid
#pid_Kp: 18.508654
#pid_Ki: 1.019761
#pid_Kd: 83.983019
min_temp: 0
max_temp: 300
max_extrude_cross_section: 4

[tmc2660 extruder]
cs_pin: PC25
spi_bus: usart1
interpolate: false
run_current: 1.100
sense_resistor: 0.051

[bltouch]
sensor_pin: ^PC1
control_pin: !PC3
#z_offset: 1.7
# higher value = closer to bed
#z_offset: 1.1
x_offset: 2.5
y_offset: 30
samples: 3
samples_result: median
samples_tolerance: 0.100
samples_tolerance_retries: 3
stow_on_each_sample: false

# Fan0
[fan]
pin: PC23

# Fan1 controlled by extruder
[heater_fan nozzle_cooling_fan]
pin: PC26
heater: extruder
heater_temp: 45
fan_speed: 1.0

[output_pin extruderfan]
pin: PA0
pwm: False
value: 1