#On drive E4
[stepper_z]
step_pin: PD0
dir_pin: !PD16
enable_pin: !PC6
#step_distance: .000625
full_steps_per_rotation: 400
rotation_distance: 4
microsteps: 16
endstop_pin: probe:z_virtual_endstop
#position_endstop: 0.0
position_max: 300
position_min: -5
homing_speed: 5

[tmc2660 stepper_z]
cs_pin: PD25
spi_bus: usart1
interpolate: False
run_current: 1.000
sense_resistor: 0.051

#On drive E3
[stepper_z1]
step_pin: PD1
dir_pin: !PD22
enable_pin: !PC6
#step_distance: .000625
full_steps_per_rotation: 400
rotation_distance: 4
microsteps: 16

[tmc2660 stepper_z1]
cs_pin: PD24
spi_bus: usart1
interpolate: False
run_current: 1.000
sense_resistor: 0.051

#On drive E2
[stepper_z2]
step_pin: PD2
dir_pin: !PD28
enable_pin: !PC6
#step_distance: .000625
full_steps_per_rotation: 400
rotation_distance: 4
microsteps: 16

[tmc2660 stepper_z2]
cs_pin: PD23
spi_bus: usart1
interpolate: False
run_current: 1.000
sense_resistor: 0.051