#[homing_override]
#set_position_z: 299
#axes: z
#gcode:
#    G90
#    G1 Z2 F600 ; Uncomment to blindly lift the Z 2mm at start
#    G1 X150 Y150 F7200
#    G28 Z0

[z_tilt]
z_positions:
        # e4 Z0 rechts
        330,133
        # e5 Z1 Links Hinten
        -15,261
        # e6 Z2 Links Vorne
        -15,10
points:
        35,270
        35,2
        295,2
        #20,133
        295,270
speed: 50
horizontal_move_z: 5
retries: 3
retry_tolerance: 0.15
